#app .placeholder {
  font-size: calc(1rem + 12vw);
  font-weight: bolder;
  line-height: .9em;
}

#app .placeholder.hide {
  display: none;
}

.clock-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.clock-container .clock {
  font-size: calc(1rem + 18vw);
  font-weight: bolder;
  line-height: 1em;
}

.clock-container .clock .hr::before {
  content: ':';
}

.clock-container .offset {
  color: rgba(0, 0, 0, .5);
  font-size: calc(1rem + .15vw);
}

.clock-container.hide {
  display: none
}

@media screen and (prefers-color-scheme: dark) {
  .clock-container .offset {
    color: rgba(255, 255, 255, .5);
  }
}

@media screen and (max-width: 600px) {
  #app .placeholder {
    font-size: calc(1rem + 8vw);
  }

  .clock-container .clock {
    font-size: calc(1rem + 16vw);
  }

  .clock-container .offset {
    font-size: calc(1rem + .10vw);
  }
}
